body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

.container1 {

    padding-bottom: 50px;
}

.container {
    background-color: #333;
    padding-bottom: 50px;
    margin-top: -35px;
    font-weight: bold;
}


header h1 {
float: left;
padding: 15px 0;
margin-left: 24px;
margin-top: 0;
}

header a {
    text-decoration: none;
    color: #fff;
}

header ul {
float: right;
}

header ul li {
display: inline-block;
margin-top: 0px;
}

header ul li a {
padding: 25px 20px;
}

header ul li a:hover {
    color: grey;
}

.container2 {
    padding: 24px;
    margin-left: 50px;
    margin-right: 50px;
    box-align: center;
    margin-top: -30px;
}


table {
    border-collapse:separate;
    font: normal normal 12px Verdana,Arial,sans-serif;
    color:#333;
    margin-left: 150px;
    width: 75%;
}

table th {
    background:#00BFFF;
    color:#DCDCDC;
    font-weight:bold;
    font-size: 14px;
}

table th,
table td {
    vertical-align: baseline;
    padding:5px 10px;
    box-align: center;
    font-weight: bold;
    font-size: 14px;
}

table tr {
    background:#eaeaea;
}

table tr:nth-child(even) {
    background: #e1e1d0;
}

h2 {
    text-align: center;
    margin-right: 68%;
    padding-top: 10px;
    margin-bottom: -10px;
}

.tombol {
    font-weight: bold;
    background-color: #333;
    color:white;
    padding: 5px;
    margin: 10px;
}

.tombol:hover {
    color: grey;
}

.agenda {
    width: 100%;
    height: 100px;
}

.time {
    width: 10%;
}

.button {
    background: #f2f2f2;
}

footer {
background-color: #fff;
width: 100%;
line-height: 40px;
text-align: center;
margin-left: 0px;
color: #333;
margin-top: 70px;
}